@using Hackathon_CV_Portal.Domain.Users
@using Hackathon_CV_Portal.Web.Models.UserAccountModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

@model LogInDto
@{
    ViewData["Title"] = "ავტორიზაცია";
    //ViewData["LoginPath"] = "/Account/Login";
}


@*<div class="row">
    <div class="col-md-6 offset-lg-3 offset-md-2">
        <div class="row">
            <div class="col-md-8 offset-lg-2 offset-md-1">*@

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <form asp-action="LogIn" method="post" asp-route-returnUrl="@ViewData["ReturnUrl"]">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group form-white mb-4">
                                    <label asp-for="UserName"></label>
                                    <input asp-for="UserName" class="form-control" />
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>
                                <div class="form-group form-white mb-4">
                                    <label asp-for="Password"></label>
                                    <input asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label asp-for="RememberMe">
                                            <input asp-for="RememberMe" />
                                            @Html.DisplayNameFor(m => m.RememberMe)
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input class="btn btn-outline-success float-right text-white" type="submit" value="ავტორიზაცია" />
                                </div>

                            </form>
                            @{
                                var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();

                                <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                                    <div class="">
                                        <p>
                                            @foreach (var provider in loginProviders)
                                            {
                                                <button type="submit" class="btn text-white" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                                    <i class="fab fa-lg fa-@provider.Name.ToLower()"></i>
                                                </button>
                                            }
                                        </p>
                                    </div>
                                </form>
                            }

                        </div>
                        <div>
                            <p class="mb-2">
                                დაგავიწყდათ პაროლი? <a asp-controller="Account" asp-action="ForgotPassword" class="text-white-50 fw-bold">პაროლის აღდგენა</a>
                            </p>
                            <p class="mb-0">
                                არ გაქვთ ანგარიში? <a asp-controller="Account" asp-action="Register" class="text-white-50 fw-bold">რეგისტრაცია</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
