@using Hackathon_CV_Portal.Application.Implementations.Cv.Models
@model CvVM
@{
    ViewData["Title"] = "შენი CV";
}

<!-- container -->
<div class="container">

    <!-- wrapper -->
    <div class="wrapper">
        <hr>
        <!-- title name cv-->
        <header class="main">
            <h1 class="text-uppercase text-center">@string.Concat(Model.FirstName," ",Model.LastName)</h1>
            <p class="lead text-center">@Model.WorkingExperience.FirstOrDefault().Name</p>
        </header>
        <hr>
        <div class="row">
            <!-- column left -->
            <div class="col-md-7">

                <!-- about me -->
                <section>

                    <h3 class="text-uppercase">ჩემს შესახებ</h3>
                    <article>
                        <div class="row">
                            @*              <div class="col-sm-4 col-sm-push-8">
                                <img src="http://lorempixel.com/500/500/people/" class="img-responsive img-circle photo">
                                </div>*@
                            <div class="col-xs-12 col-sm-8 col-sm-pull-4">
                                @Model.AboutMe
                            </div>
                        </div>
                    </article>
                </section>
                <!--/ about me -->
                <!-- experiences -->
                <section>
                    <h3 class="text-uppercase">სამუშაო გამოცდილება</h3>
                    <article>
                        <div class="row">

                            @foreach (var workingExperience in Model.WorkingExperience)
                            {

                                <div class="col-sm-4">
                                    <h4>@workingExperience.City</h4>
                                    @if (workingExperience.EndDate != null)
                                    {
                                        <p><small class="text-primary">@workingExperience.StartDate.Month/@workingExperience.StartDate.Day/@workingExperience.StartDate.Year - @workingExperience.EndDate.Value.Month/@workingExperience.EndDate.Value.Day/@workingExperience.EndDate.Value.Year</small></p>
                                    }
                                    @if (workingExperience.EndDate == null)
                                    {
                                        <p><small class="text-primary">@workingExperience.StartDate.Month/@workingExperience.StartDate.Day/@workingExperience.StartDate.Year - Now</small></p>
                                    }
                                </div>
                                <div class="col-sm-8">
                                    <h4>@workingExperience.Name, კომპანია @workingExperience.Company</h4>
                                    <p>@workingExperience.Description</p>
                                </div>
                            }
                        </div>
                        <hr>
                    </article>

                </section>
                <!--/ experiences -->
                <!-- education -->
                <section>

                    <h3 class="text-uppercase">განათლება</h3>

                    @foreach (var education in Model.Education)
                    {
                        <article>
                            <h4>@education.Name at @education.University, @education.City </h4>
                            @if (education.EndDate != null)
                            {
                                <p><small class="text-primary">@education.StartDate.Month/@education.StartDate.Day/@education.StartDate.Year - @education.EndDate.Value.Month/@education.EndDate.Value.Day/@education.EndDate.Value.Year</small></p>
                            }
                            @if (education.EndDate == null)
                            {
                                <p><small class="text-primary">@education.StartDate.Month/@education.StartDate.Day/@education.StartDate.Year - now</small></p>
                            }
                            <p>@education.Description</p>
                            <hr>
                        </article>
                    }
                </section>
                <!--/ education -->

            </div>

            <!--/ column left -->
            <!-- column right -->
            <div class="col-md-5">

                <!-- contact -->
                <section>

                    <h3 class="text-uppercase">კონტაქტი</h3>

                    <article class="media">

                        <div class="pull-left">
                            <span class="text-primary"><i class="bi bi-telephone"></i></span>
                        </div>
                        <div class="media-body"> მობილურის ნომერი | @Model.PhoneNumber</div>

                    </article>

                    <article class="media">
                        <div class="pull-left">
                            <span class="text-primary"><i class="bi bi-envelope"></i></span>
                        </div>
                        <div class="media-body"> მეილი | @Model.Email</div>
                    </article>

                    <article class="media">
                        <div class="pull-left">
                            <span class="text-primary"><i class="fa fa-map-marker"></i></span>
                        </div>
                        <div class="media-body"> მისამართი | @Model.Address</div>
                    </article>
                    <article class="media">
                        <div class="pull-left">
                            <span class="text-primary"><i class="bi bi-calendar"></i></span>
                        </div>
                        <div class="media-body"> ასაკი | @Model.Age</div>
                    </article>
                </section>
                <!--/ contact -->
                <!-- Skills -->
                <section>

                    <h3 class="text-uppercase">უნარები</h3>
                    <article class="media">
                        <div class="media-body">
                            @foreach (var skill in @Model.Skills)
                            {
                                @string.Concat(skill.Title, ", ") 
                            }
                        </div>
                    </article>

                </section>
                <!--/ Skills -->

            </div>
            <!--/ column right -->
        </div>
        <hr>

    </div>
    <!--/ wrapper -->

</div>
