@using Hackathon_CV_Portal.Application.Locations.Vacancies.Models;
@model IEnumerable<LocationVM>

@{
    ViewData["Title"] = "მისამართების მართვა";
}

<div class="panel panel-default">
    <table class="table ">
        <tr>
            <th>
                ქვეყანა
            </th>
            <th>
                ქალაქი
            </th>
            <th>
            <div class="form-group">
                <a class="btn float-center" asp-controller="Location" asp-action="AddLocation"><i class="bi bi-plus-square-fill fa-2x indigo-text pr-3"></i></a>
            </div>
            </th>
            @* <th>@Html.NoEncodeActionLink("<span class='glyphicon glyphicon-plus'></span>", "Add", "Create", "Addresses", routeValues: new { PersonId = ViewBag.PersonID }, htmlAttributes: new { data_modal = "", @class = "btn btn-primary pull-right" })</th> *@
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                @* <td>
                     <a class="btn  me-2" asp-controller="Location" asp-action="DeleteLocation" asp-route-id="@item.Id"> <i class="bi bi-pencil fa-2x amber-text pr-3"></i></a>
                </td> *@
                <td>
                     <a class="btn  me-2" asp-controller="Location" asp-action="DeleteLocation" asp-route-id="@item.Id"><i class='bi bi-trash fa-2x icon-red'></i></a>
                </td>
            </tr>
        }
    </table>
</div>
@* @foreach (var item in Model)
{
    <div>
        @item.Country
        <hr />
    </div>
} *@